  <% include ../partials/head %>
  <body>
    <% include ../partials/admin/top-bar %>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 mx-auto">
                <h2>Welcome to admin home page!!!</h2>
            </div>
        </div>
    </div>

   <% include ../partials/foot %>
  </body>
</html>
