<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">

        <a class="uk-navbar-item uk-logo" href="/">Logo</a>

        <ul class="uk-navbar-nav">
            <li class="uk-active">
              <a href="#">Users</a>
              <div class="uk-navbar-dropdown">
                <ul class="uk-nav uk-navbar-dropdown-nav">
                  <li><a href="/searchUser">Search Users</a></li>
                  <li><a href="#">Add Users</a></li>
                  <li><a href="#">Edit Users</a></li>
                </ul>
              </div>
            </li>

            <li>
              <a href="#">Partners</a>
              <div class="uk-navbar-dropdown">
                <ul class="uk-nav uk-navbar-dropdown-nav">
                  <li><a href="#">Search Business Partners</a></li>
                  <li><a href="#">Add</a></li>
                  <li><a href="#">Edit</a></li>
                </ul>
              </div>
            </li>

            <li>
              <a href="#">Purchasing</a>
              <div class="uk-navbar-dropdown">
                <ul class="uk-nav uk-navbar-dropdown-nav">
                  <li><a href="#">Search</a></li>
                  <li><a href="#">Add</a></li>
                  <li><a href="#">Edit</a></li>
                </ul>
              </div>
            </li>

            <li>
              <a href="#">Sales</a>
              <div class="uk-navbar-dropdown">
                <ul class="uk-nav uk-navbar-dropdown-nav">
                  <li><a href="#">Search</a></li>
                  <li><a href="#">Add</a></li>
                  <li><a href="#">Edit</a></li>
                </ul>
              </div>
            </li>
        </ul>

    </div>

    <div class="uk-navbar-right">

      <div class="uk-navbar-nav">
        <li>
          <a href="#">Profile</a>
          <div class="uk-navbar-dropdown">
            <ul class="uk-nav uk-navbar-dropdown-nav">
                <li><a href="#">Account</a></li>
                <li class="uk-nav-divider"></li>
                <li><a href="#">Log-out</a></li>
            </ul>
          </div>
        </li>
      </div>

    </div>
</nav>