<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <% include ./partials/top-bar %>

    <h3 class="uk-text-center">Edit view user here...</h3>

    <% include ./partials/foot %>
  </body>
</html>
