<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <%- include('./partials/top-bar', {protocolAndHostname: protocolAndHostname}); %>

    <h2 class="uk-text-center">Welcome to Home Page!!!</h2>

    <% include ./partials/foot %>
  </body>
</html>
