  <% include ./partials/head %>
  <body>
  <div class="container" style="margin-top: 40px;">
  	<div class="row">
      <div class="col-xs-6 mx-auto">
          <h1>Welcome!!!</h1>
          <h4><a href="/login" class="mr-5">Log-in</a><a href="/register">Register</a></h4>
      </div>
  	</div>
  </div>

  <% include ./partials/foot %>
  </body>
</html>
