<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
  	<div class="uk-container">
    	<div class="uk-flex uk-flex-center uk-margin-xlarge-top">
    		<a href="/">Go to home page</a>
    	</div>
		</div>

		<div class="uk-container uk-margin">
		    <div class="uk-flex uk-flex-center">
		    	<form class="uk-form-stacked" method="post" action="/admin">
		    		<div>
		    			<label class="uk-form-label">Username</label>
		    			<div class="uk-form-controls">
		    				<input class="uk-input uk-form-small uk-form-width-medium" id="username" type="text" placeholder="Your username">
		    			</div>
		    		</div>
		    		<div>
		    			<label class="uk-form-label">Password</label>
		    			<div class="uk-form-controls">
		    				<input class="uk-input uk-form-small uk-form-width-medium" id="password" type="password" placeholder="Your password">
		    			</div>
		    		</div>
		    		<div>
		    			<div class="uk-form-controls">
		    				<button class="uk-button uk-button-primary uk-button-small uk-width-1-1" style="margin-top: 8px;">Login</button>
		    			</div>
		    		</div>
		    	</form>
		    </div>
		</div>
		
    <% include ./partials/foot %>
  </body>
</html>
