  <% include ../partials/head %>
  <body>
  <div class="container mt-2">
    <div class="row">
      <div class="col-sm-6">
          <h2>Registration</h2>
      </div>
      <div class="col-sm-6">
          <h4><a href="/"><< Back</a></h4>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <form method="post" action="/register">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="firstName" class="col-form-label col-form-label-sm">First name</label>
              <input type="text" class="form-control form-control-sm" id="firstName">
            </div>
            <div class="form-group col-md-6">
              <label for="lastName" class="col-form-label col-form-label-sm">Last name</label>
              <input type="text" class="form-control form-control-sm" id="lastName">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="gender" class="col-form-label col-form-label-sm">Gender</label>
              <select id="gender" class="form-control form-control-sm">
                <option selected>--Select--</option>
                <option>Male</option>
                <option>Female</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label for="address" class="col-form-label col-form-label-sm">Address</label>
            <input type="text" class="form-control form-control-sm" id="address">
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="city" class="col-form-label col-form-label-sm">City/municipality</label>
              <input type="text" class="form-control form-control-sm" id="city">
            </div>

            <div class="form-group col-md-4">
              <label for="state" class="col-form-label col-form-label-sm">Province</label>
              <select id="state" class="form-control form-control-sm">
                  <option value="-1" selected>Choose...</option>
                <% provincesName.forEach(function(provinceName) { %>
                  <option value="<%=provinceName._id %>"><%=provinceName.province %></option>
                <% }); %>
              </select>
            </div>

            <div class="form-group col-md-2">
              <label for="zipCode" class="col-form-label col-form-label-sm">Zip code</label>
              <input type="text" class="form-control form-control-sm" id="zipCode">
            </div>
          </div>
          <hr>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="Email" class="col-form-label col-form-label-sm">Email</label>
              <input type="email" class="form-control form-control-sm" id="Email">
            </div>
            <div class="form-group col-md-4">
              <label for="password" class="col-form-label col-form-label-sm">Password</label>
              <input type="password" class="form-control form-control-sm" id="password">
            </div>
            <div class="form-group col-md-4">
              <label for="confirmPassword" class="col-form-label col-form-label-sm">Confirm</label>
              <input type="password" class="form-control form-control-sm" id="confirmPassword">
            </div>

          </div>

          <button type="submit" class="btn btn-primary">Register</button>
        </form>
      </div>
    </div>
  </div>

  <% include ../partials/foot %>
  </body>
</html>
